.Chartdisplay{
    padding: 3px;
}
.Chartdisplay__menu{
    position: relative;
    display: flex;
    align-items: center;
}

.Chartdisplay__title {
    color: rgb(209, 212, 220);
    margin: 4px;
}


.Tickerinput,
.Menu__dropdown {
    height: 26px;
    color: rgb(209, 212, 220);
    background-color: rgb(30, 34, 45);
    border: 1px solid rgb(209, 212, 220);
    border-radius: 4px;
    padding: 1px 3px;
    margin: 4px;
}

.Tickerinput:focus,
.Menu__dropdown:focus {
    outline: none;
}

.Menu__dropdown{
    width: 130px;
}

.Chartdisplay__menu .MuiFormControl-root{
    margin: 3px 5px !important;
    border-radius: 4px;
    color: rgb(209, 212, 220) !important;;
}

.Chartdisplay__loading {
    position: absolute;
    right: 0;
    display: flex;
    color: rgb(209, 212, 220);
    align-items: center;
}

.Chartdisplay__loading span {
    margin-right: 8px;
}