.Fundament{
    padding: 10px 10px;
    display: flex;
    color: rgb(209, 212, 220);
    flex-direction: column;
}
.Fundament h1, .Fundament h3{
    margin: 15px 0px;
}
.separatedot{
    font-size: 0.5rem !important;
    margin: 0px 5px;
}
.chg{
    margin-left: 5px;
    font-size: 18px;
}
.Fund__row{
    display: flex;

}
.PerfDiv{
    margin: 2px 5px;
    padding: 3px;
    text-align: center;
    width: 60px;
}
.StatDiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 2px solid #787b86;
}
.Fund__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.Fund__title > h4 {
    margin: 0px;
}
.Fund__title > button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 20px;
}
.Fund__title > button:hover {
    cursor: pointer;
}
.Fund__title > button:focus {
    outline: none;
}
.Fund__text{
    color: #787b86;
}
.Fundstat{
    flex-grow: 1;
    overflow-y: auto;
}

.Fund__info {
    display: flex;
    flex-direction: column;
}