.GrownRate{
    position: relative;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    color: #d1d4dc;
}

.title-tooltip {
    position: absolute;
    top: 12px;
    right: 12px;
}

.GrownRate__title_header {
    position: relative;
    border-bottom: 3px solid #d1d4dc;
    padding-bottom: 10px;
    margin: 8px 0;
}

.GrownRate__group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.GrownRate__dropdown {
    position: relative;
    right: 0;
}

.GrownRate__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.GrownRate__table{
    flex-grow: 1;
    overflow-y: auto;
}
.GrownRate table{
    width: 100%;
}
.GrownRate__header{
    text-align: left;
}
.GrownRateRow:hover{
    background-color: #222838;
    cursor: pointer;
}

.GrownRateRow > td {
    padding: 6px 0;
}

.GrownRate__tooltip {
    position: absolute;
    left: 2px;
}