.Market{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    color: #d1d4dc;
}
.Market__title {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 3px solid #d1d4dc;
}

.Market__table{
    flex-grow: 1;
    overflow-y: auto;
}
.Market table{
    width: 100%;
}
.Market__header{
    text-align: left;
}
.MarketRow:hover{
    background-color: #222838;
    cursor: pointer;
}
