.stock-table {
    color: #d1d4dc;
    text-align: center;
}

.stock-table > table > tbody > tr:hover {
    cursor: pointer;
}

.table-header {
    position: sticky;
    top: 0;
    background: #374462;
    box-shadow: 0px 10px 10px -15px grey;
    z-index: 999;
}
.table-header-item {
    border-top: none;
}

.stock-table tbody button {
    background-color: transparent;
    border: none;
    color: rgb(209, 212, 220);
    font-size: 20px;
}
.stock-table tbody  button:hover {
    cursor: pointer;
}
.stock-table tbody button:focus {
    outline: none;
}