body {
  background-color: #222838;
  color: rgb(209, 212, 220);
  font-family: Trebuchet MS, roboto, ubuntu, sans-serif;
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: column;
}
.App__topPanel {
  margin: 3px;
  background-color: rgb(19, 23, 34);
  height: 64vh;
  min-height: 400px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.App__bottomPanel {
  margin: 3px;
  background-color: rgb(19, 23, 34);
  height: 35vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.App__bottomPanel > div:nth-child(1) {
  width: 20%;
  overflow: scroll;
  height: 35.3vh;
}
.App__bottomPanel > div:nth-child(2) {
  width: 60%;
  overflow: scroll;
  height: 35.3vh;
}
.App__bottomPanel > div:nth-child(3) {
  width: 20%;
}
.App__topPanel > div:nth-child(1) {
  width: 80%;
}
.App__topPanel > div:nth-child(2) {
  width: 20%;
}
.Value__up{
  color: #0f0;
}
.Value__down{
  color: #ff3737;
}
.Value__unchange {
  color: #ffd900;
}
.Valuebackground__up{
  background-color: #0f0;
}
.Valuebackground__down{
  background-color: #ff3737;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
